@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
}

@layer components {
    .navbar-button {
        @apply text-3xl text-white hover:text-black hover:bg-white rounded-lg hover:rounded-lg transition-all duration-300 ease-linear cursor-pointer; 
    }
    .active-button {
        @apply text-blue-400;
    }
}

/* .add {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 0 1rem;
} */